body {
    background: url(../images/Background_Empty.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    width: 700px;
    height: 100%;
}

body * {
    position: absolute;
    display: block;
}

button {
  background-image: url('../images/startbutton.png');
  width: 345px;
  height: 131px;
}

score {
    text-align: center;
    /*color: white;*/
    width: 300px; height: 30px;
    z-index: 1;
}

character {
  background-image: url('../images/player.png');
  width: 61px; 
  height: 102px;
  z-index: 2;
}

wind {
	width:28px; min-height:100px;
	background-image: url('../images/Wind.png');
  z-index: 2;
}

bridge {
    background-image: url(../images/Rope_Bridge_Empty.png);
    background-size: cover;
    width: 650px; height: 960px;
    text-align: center;
    padding: auto;
    z-index: 1;
    /*cursor: url(../images/Pointer.png), auto;*/
}


filledpart {
  background-color:green;
  width:125px;
  height:100px;
  border:1px solid yellow;
  z-index: 1;
}

brokenpart {
  background-color:red;
  width:125px;
  height:100px;
  border:1px solid yellow;
  z-index: 1;
}
